  <div class="footer">
    <div class="footer-links">
      <%= link_to "https://www.imdb.com/" do %>
        <i class="fa-brands fa-imdb"></i>
      <% end %>
    </div>
    <div class="footer-copyright">
      Marmitas Fit <i class="fas fa-heart"></i>
    </div>
  </div>