<div class="container">

  <div class="card-category mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Marmitas Fit
  </div>

<div class="row">
  <% @lunchboxes.each do |lunchbox| %>
    <div class="col-sm-12 col-md-4">
      <div class="card-trip mt-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg" />
        <div class="card-trip-infos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <div>
            <h2><%= link_to lunchbox.food, lunchboxes_path(lunchbox), class: "text-decoration-none" %></h2>
            <p><%= lunchbox.size %></p>
          </div>
          <h2 class="card-trip-pricing">R$ <%= lunchbox.price %>,00</h2>
        </div>
      </div>
    </div>
<% end %>

<%= cl_image_tag @lunchbox.photo.key %>


</div>